header > nav{
    max-width: 1140px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin: 36px auto;
}
header  nav  button{
    border-radius: 8px;
    color: var(--primary-color);
    background-color: #fff;
    border: 1px solid var(--primary-color);
    padding: 17px 20px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
header  nav  button:hover{
    background-color: var(--bg-faded-color);
}
header nav .logo{
    font-size: 28px;
    font-weight: 800;
}
header nav .logo a{
    text-decoration: none;
    color: var(--primary-color);
}