section#banner-container{
    width: 100%;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner-container .banner-content{
    max-width: 1000px;
    width: 90%;
    margin-top: 26px;
    margin-bottom: 45px;
}
#banner-container .banner-content img{
    display: block;
    margin: 0 auto;
}
.para-text{
    max-width: 552px;
    margin: 0 auto;
}