*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}

/* Colors */
:root{
    --primary-color: #0D1321;
    --secondary-color: rgba(13, 19, 33, 70%);
    --border-color: rgba(13, 19, 33, 20%);
    --bg-lightblue: rgba(0, 77, 232, 5%);
    --bg-lightpink: rgba(255, 75, 30, 5%);
    --bg-lightyellow: rgba(255, 221, 0, 5%);
    --footer-bg-color: rgba(13, 19, 33, 3%);
}
/* Typography */
.banner-heading{
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    color: var(--primary-color);
    margin-top: 32px;
}
.para-text{
    font-size: 16px;
    line-height: 26px;
    color: var(--primary-color);
}
.button-text{
    font-size: 20px;
    font-weight: 600;
}
.section-title{
    font-size: 32px;
    font-weight: 800;
}
.blog-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.language-text{
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
}
/* Universal css codes */
.btn-primary{
    color: #fff;
    background-color: var(--primary-color);
    padding: 20px 24px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    display: block;
    margin: 0 auto;
}
.btn-primary:hover{
    background-color: var(--secondary-color);
}
.btn-secondary{
    color: var(--primary-color);
    background-color: #fff;
    border: 1px solid var(--primary-color);
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 600;
}
.m-24-32{
    margin-top: 24px;
    margin-bottom: 32px;
}
.m-24-48{
    margin-top: 24px;
    margin-bottom: 48px;
}
.m-16-32{
    margin-top: 16px;
    margin-bottom: 32px;
}
.m-8-24{
    margin-top: 8px;
    margin-bottom: 24px;
}
.p-80-97{
    padding: 80px 97px;
}
.p-48{
    padding: 48px;
}
.p-32{
    padding: 32px;
}
.p-40{
    padding: 40px;
}
.p-48-64{
    padding: 64px 48px;
}
.text-center{
    text-align: center;
}
